<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Trampoline Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link th:href="@{/css/table.css}" rel="stylesheet" />
<style type="text/css">
body {
	padding-top: 60px;
}
</style>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<script type="text/javascript" th:src="@{/js/backend.requests.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" />

<link rel="shortcut icon" href="assets/ico/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

</head>
<body>
	<input type="hidden" th:value="${mavenLocation}" id="input-hidden-mavenlocation"/>
	<div class="navbar-nav navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img th:src="@{/img/logo30.png}" alt="" /> Trampoline</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h4>
				<strong>Trampoline Settings</strong>
			</h4>
			   <div class="form-group" id="form-group-mavenlocation">
			    <label for="inputEmail3" class="col-sm-2 control-label">Maven Location</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="input-mavenlocation" th:placeholder="${mavenLocationMessage}"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button class="btn btn-default" onclick="setMavenLocation()">Set Maven Location</button>
			    </div>
			  </div>
		</div>
		<div class="row">
			<h4>
				<strong>New Microservice</strong>
			</h4>
			 <div class="form-group" id="form-newmicroservice-name">
			    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="input-newmicroservice-name" placeholder="microservice-1"/>
			    </div>
			  </div>
			   <div class="form-group" id="form-newmicroservice-pomlocation">
			    <label for="inputEmail3" class="col-sm-2 control-label">Pom Location</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="input-newmicroservice-pomlocation" placeholder="/Users/ernest/Documents/workarea/microservice-1"/>
			    </div>
			  </div>
			   <div class="form-group" id="form-newmicroservice-defaultport">
			    <label for="inputEmail3" class="col-sm-2 control-label">Default Port</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="input-newmicroservice-defaultport" placeholder="9988"/>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button class="btn btn-default" onclick="setNewMicroservice()">Create</button>
			    </div>
			  </div>
		</div>
	</div>
	<br/><br/>
	<div class="container">
		<div class="row">
			<h4>
				<strong>Registered Microservices</strong>
			</h4>
			<table class="display" id="dt1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Pom Location</th>
						<th>Port</th>
						<th>Start</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="microservice : ${microservices}" class="odd gradeA">
						<td th:text="${microservice.name}"></td>
						<td th:text="${microservice.pomLocation}"></td>
						<td class="center"><input type="email" class="form-control" th:value="${microservice.defaultPort}" th:id="'input-port-' + ${microservice.id}"/></td>
						<td class="center"><button type="button" th:onclick="'startInstance(\'' + ${microservice.id} + '\')'" class="btn btn-primary btn-sm">Start</button></td>
						<td class="center"><button type="button" th:onclick="'removeMicroservice(\'' + ${microservice.id} + '\')'" class="btn btn-danger btn-sm">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br/><br/>
	<div class="container">
		<div class="row">
			<h4>
				<strong>Started Instances</strong>
			</h4>		
			<button type="button" class="btn btn-primary btn-xs" onclick="removeNotDeployedInstances()">Remove Not Deployed Instances</button>
			<br/><br/>
			<table class="display" id="dt1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Pom Location</th>
						<th>Port</th>
						<th>Status</th>
						<th>Metrics</th>
						<th>Kill</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="instance : ${instances}" class="even gradeA">
						<td th:text="${instance.name}"></td>
						<td th:text="${instance.pomLocation}"></td>
						<td class="center" th:text="${instance.port}"></td>
						<td class="center"><span class="label label-warning" th:id="'label-status-' + ${instance.id}">Waiting</span></td>
						<td class="center"><button type="button" th:onclick="'showMetrics(\'' + ${instance.id} + '\', \'' + ${instance.name} + '\', \'' + ${instance.port} + '\')'" class="btn btn-info btn-sm">Metrics</button></td>
						<td class="center"><button type="button" th:onclick="'killInstance(\'' + ${instance.id} + '\')'" class="btn btn-danger btn-sm">Kill</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="modal-metrics" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><span id="metrics-title"></span></h4>
				</div>
				<div class="modal-body">
					<canvas id="myChart" width="400" height="400"></canvas>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<br/><br/><br/>
	<div id="footerwrap">
		<footer class="clearfix"></footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<p>
						<img th:src="@{/img/logo.png}" alt="" />
					</p>
					<p>Trampoline - Crafted With Love - Copyright 2017</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>