<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Trampoline - Manage local Spring Boot instances</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link th:href="@{/v2/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/v2/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/v2/css/paper-dashboard.css}" rel="stylesheet" />
    <link th:href="@{/v2/css/demo.css}" rel="stylesheet" />
    <link th:href="@{/v2/css/loading.css}" rel="stylesheet" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'/>
    <link th:href="@{/v2/css/themify-icons.css}" rel="stylesheet" />

</head>
<body>
<div class="front-loading">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<input type="hidden" th:value="${mavenHomeLocation}" id="input-hidden-mavenhomelocation"/>

<div class="wrapper">
    <div th:include="fragments/menu :: menu-bar(selected='Settings')" ></div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Settings</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Microservice Groups Created</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <li th:each="group : ${microservicesgroups}">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <span th:text="${group.name}"></span>
                                            </div>
                                            <div class="col-xs-4 text-right">
                                                <btn class="btn btn-sm btn-primary btn-icon" th:onclick="'showGroupInformation(\'' + ${group.id} + '\')'"><i class="fa fa-info"></i></btn>
                                                <btn class="btn btn-sm btn-danger btn-icon" th:onclick="'removeGroup(\'' + ${group.id} + '\')'"><i class="fa fa-trash"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Microservices Registered</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                            <li th:each="microservice : ${microservices}">
                                                <div class="row">
                                                    <div class="col-xs-7">
                                                        <span th:text="${microservice.name}"></span>
                                                    </div>
                                                    <div class="col-xs-5 text-right">
                                                        <btn class="btn btn-sm btn-info btn-icon" th:onclick="'copyMsInfo(\'' + ${microservice.id} + '\')'"><i class="fa fa-clone"></i></btn>
                                                        <btn class="btn btn-sm btn-warning btn-icon" th:onclick="'showGitStatus(\'' + ${microservice.id} + '\')'"><i class="fa fa-github"></i></btn>
                                                        <btn class="btn btn-sm btn-primary btn-icon" th:onclick="'showMicroserviceInformation(\'' + ${microservice.id} + '\')'"><i class="fa fa-pencil"></i></btn>
                                                        <btn class="btn btn-sm btn-danger btn-icon" th:onclick="'removeMicroservice(\'' + ${microservice.id} + '\')'"><i class="fa fa-trash"></i></btn>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">External Instances Registered</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    <li th:each="externalInstance : ${externalInstances}">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <span th:text="${externalInstance.name}"></span>
                                            </div>
                                            <div class="col-xs-5 text-right">
                                                <btn class="btn btn-sm btn-danger btn-icon" th:onclick="'removeExternalInstance(\'' + ${externalInstance.id} + '\')'"><i class="fa fa-trash"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                 <div class="card">
                                    <div class="header">
                                        <h4 class="title">Maven Settings</h4>
                                    </div>
                                    <div class="content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" id="form-mavenhomelocation">
                                                        <label>Maven Home Location *</label>
                                                        <input id="input-mavenhomelocation" type="text" class="form-control border-input" th:placeholder="${mavenHomeLocationMessage}"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Maven Binary Location</label>
                                                        <input id="input-mavenbinarylocation" type="text" class="form-control border-input" th:placeholder="${mavenBinaryLocationMessage}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button onclick="setMavenInformation()" class="btn btn-success btn-fill btn-wd">Save Maven Information</button>
                                            </div>
                                            <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">GIT Settings <i class="fa fa-info-circle" data-toggle="git-popover" data-content="If GIT is installed on your system, you don't need it to enjoy GIT features, otherwise yes. Credentials will be secured and not published."></i></h4>
                                    </div>

                                    <ul class="nav nav-tabs">
                                        <li role="presentation" id="tab-git-https-settings" onclick="showGitSettings('git-https-settings')"><a>HTTPS Settings</a></li>
                                        <li role="presentation" id="tab-git-ssh-settings" onclick="showGitSettings('git-ssh-settings')"><a>SSH Settings</a></li>
                                    </ul>
                                    <div id="content-git-https-settings" class="content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" id="form-git-user">
                                                    <label>Username</label>
                                                    <input id="input-git-user" type="text" class="form-control border-input" th:placeholder="${gitUsername}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    <input id="input-git-pass" type="password" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button onclick="saveGitHttpsCred()" class="btn btn-success btn-fill btn-wd">Save</button>
                                            <button onclick="cleanGitCred()" class="btn btn-danger btn-fill btn-wd">Clean</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="content-git-ssh-settings" class="content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" id="form-git-ssh-key-location">
                                                    <label>SSH Private Key Location</label>
                                                    <input id="input-git-ssh-key-location" type="text" class="form-control border-input" th:placeholder="${gitSshKeyLocation}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group" id="form-git-ssh-key-password">
                                                    <label>SSH Private Key Password (if needed)</label>
                                                    <input id="input-git-ssh-key-password" type="password" class="form-control border-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button onclick="saveGitSshCred()" class="btn btn-success btn-fill btn-wd">Save</button>
                                            <button onclick="cleanGitCred()" class="btn btn-danger btn-fill btn-wd">Clean</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Register External Instance <i class="fa fa-info-circle" data-placement="left" data-toggle="git-popover" data-content="It can happen that instances are deployed using other methods, but Trampoline looks amazing to have them all under one dashboard, isn't it?"></i></h4>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-external-instance-name">
                                                    <label>Name</label>
                                                    <input id="input-external-instance-name" type="text" class="form-control border-input" placeholder="Ex: ms-upload"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-external-instance-actuator-prefix">
                                                    <label>Actuator prefix</label>
                                                    <input id="input-external-instance-actuator-prefix" type="text" class="form-control border-input" placeholder="Ex: /actuator"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-external-instance-ip">
                                                    <label>IP</label>
                                                    <input id="input-external-instance-ip" type="text" class="form-control border-input" placeholder="Ex: 10.3.1.203"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="form-external-instance-port">
                                                    <label>Port</label>
                                                    <input id="input-external-instance-port" type="text" class="form-control border-input" placeholder="Ex: 8877"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button onclick="setExternalInstance()" class="btn btn-success btn-fill btn-wd">Register Instance</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Register Microservice</h4>
                                <br/>
                            </div>
                            <ul class="nav nav-tabs">
                                <li role="presentation" id="tab-newmicroservice-git-repo" onclick="showNewMsForm('newmicroservice-git-repo')"><a>GIT Repo</a></li>
                                <li role="presentation" id="tab-file-system" onclick="showNewMsForm('file-system')"><a>File System</a></li>
                            </ul>
                            <div id="content-newmicroservice-git-repo" class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-git-newmicroservice-repo">
                                            <label>GIT Repo</label>
                                            <input  id="input-git-newmicroservice-repo" onchange="fillFormGitNewMs()" type="text" class="form-control border-input" placeholder="Ex: https://github.com/ErnestOrt/Trampoline.git"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-git-newmicroservice-destination">
                                            <label>Destination Folder</label>
                                            <input  id="input-git-newmicroservice-destination" type="text" class="form-control border-input" placeholder="Ex: C:\Users\Trampoline\Documents\workarea"/>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group" id="form-git-newmicroservice-name">
                                            <label>Name *</label>
                                            <input id="input-git-newmicroservice-name" type="text" class="form-control border-input" placeholder="Ex: microservice-1"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" id="form-git-newmicroservice-build-tool">
                                            <label>Build Tool *</label>
                                            <select id="input-git-newmicroservice-build-tool" class="form-control border-input">
                                                <option value="-1">Select...</option>
                                                <option value="maven">Maven</option>
                                                <option value="gradle">Gradle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" id="form-git-newmicroservice-defaultport">
                                            <label>Default Port *</label>
                                            <input  id="input-git-newmicroservice-defaultport" type="text" class="form-control border-input" placeholder="Ex: 9988"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="form-git-newmicroservice-actuatorprefix">
                                            <label>Actuator Prefix  <i class="fa fa-info-circle" data-toggle="git-popover" data-placement="left" data-content="If using spring boot v2.x, you must place /actuator (default actuator endpoint from now on) or -Dmanagement.endpoints.web.base-path=/ as a VM argument. Otherwise, Trampoline will not be able to talk with instances from this microservice."></i></label>
                                            <input  id="input-git-newmicroservice-actuatorprefix" type="email" class="form-control border-input" placeholder="Ex: /actuator"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-git-newmicroservice-pomlocation">
                                            <label>Pom or Build File Location *</label>
                                            <input  id="input-git-newmicroservice-pomlocation" type="text" class="form-control border-input"  placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-git-newmicroservice-gitLocation">
                                            <label>Git Repo Root Location</label>
                                            <input  id="input-git-newmicroservice-gitLocation" type="text" class="form-control border-input" placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group" id="form-git-newmicroservice-vmarguments">
                                            <label>VM Arguments</label>
                                            <input  id="input-git-newmicroservice-vmarguments" type="text" class="form-control border-input" placeholder="Ex: -Dmy.arg.one=false -Dmy.arg.two=true"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button onclick="setNewMicroserviceFromGit()" class="btn btn-success btn-fill btn-wd">Clone and Register Microservice</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="content-file-system" class="content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group" id="form-newmicroservice-name">
                                                <label>Name *</label>
                                                <input id="input-newmicroservice-name" type="text" class="form-control border-input" placeholder="Ex: microservice-1"/>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" id="form-newmicroservice-build-tool">
                                                <label>Build Tool *</label>
                                                <select id="input-newmicroservice-build-tool" class="form-control border-input">
                                                    <option value="-1">Select...</option>
                                                    <option value="maven">Maven</option>
                                                    <option value="gradle">Gradle</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" id="form-newmicroservice-defaultport">
                                                <label>Default Port *</label>
                                                <input  id="input-newmicroservice-defaultport" type="text" class="form-control border-input" placeholder="Ex: 9988"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="form-newmicroservice-actuatorprefix">
                                                <label>Actuator Prefix  <i class="fa fa-info-circle" data-toggle="git-popover" data-placement="left" data-content="If using spring boot v2.x, you must place /actuator (default actuator endpoint from now on) or -Dmanagement.endpoints.web.base-path=/ as a VM argument. Otherwise, Trampoline will not be able to talk with instances from this microservice."></i></label>
                                                <input  id="input-newmicroservice-actuatorprefix" type="email" class="form-control border-input" placeholder="Ex: /actuator"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="form-newmicroservice-pomlocation">
                                                <label>Pom or Build File Location *</label>
                                                <input  id="input-newmicroservice-pomlocation" type="text" class="form-control border-input"  placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="form-newmicroservice-gitLocation">
                                                <label>Git Repo Root Location</label>
                                                <input  id="input-newmicroservice-gitLocation" type="text" class="form-control border-input" placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group" id="form-newmicroservice-vmarguments">
                                                <label>VM Arguments</label>
                                                <input  id="input-newmicroservice-vmarguments" type="text" class="form-control border-input" placeholder="Ex: -Dmy.arg.one=false -Dmy.arg.two=true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button onclick="setNewMicroservice()" class="btn btn-success btn-fill btn-wd">Register Microservice</button>
                                    </div>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Register Microservices Group</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="form-groupname">
                                            <label>Name*</label>
                                            <input id="input-groupname" type="text" class="form-control border-input" placeholder="microservice-group-name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a onclick="changeSelectedClass(this)" th:each="microservice : ${microservices}" href="#" class="btn btn-default microservice-group-form" role="button" th:text="${microservice.name}" th:attr="data-id=${microservice.id}, data-name=${microservice.name}"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <br/>
                                    <div class="text-center">
                                        <button onclick="defineGroup()" class="btn btn-success btn-fill btn-wd">Create Group</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div id="modal-microservice-information" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Microservices Registered Information</h4>
                    </div>
                    <div class="modal-body">
                        <p>Name:<br/><span class="text-success" id="modal-microservice-name"></span></p>
                        <p>Build Tool:<br/><span class="text-success" id="modal-microservice-buildTool"></span></p>
                        <p>Default Port*:<br/><div class="form-group" id="form-update-default-port"><input  id="input-update-default-port" type="email" class="form-control border-input" placeholder="Ex: 9988"/></div></p>
                        <p>Pom or Build File Location*:<br/><div class="form-group" id="form-update-pomLocation"><input  id="input-update-pomLocation" type="email" class="form-control border-input" placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1"/></div></p>
                        <p>Git Repo Root Location:<br/><input  id="input-update-gitLocation" type="email" class="form-control border-input" placeholder="Ex: /Users/ernest/Documents/workarea/microservice-1"/></p>
                        <p>Actuator Prefix:<br/><input  id="input-update-actuator-prefix" type="email" class="form-control border-input" placeholder="Ex: /service-one"/></p>
                        <p>VM Arguments:<br/><input  id="input-update-vm-arguments" type="email" class="form-control border-input" placeholder="Ex: -Dmy.arg.one=false -Dmy.arg.two=true"/></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="updateMicroservice()" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="modal-microservice-git" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Microservices GIT Information</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Current Branch: <b><span id="span-current-git-branch"></span></b></h4>
                                    </div>
                                    <div class="content">
                                        <ul class="list-unstyled team-members" id="ul-branches-git">


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="modal-group-information" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Microservices Group Information</h4>
                    </div>
                    <div class="modal-body">
                        <p>Name:<br/><span class="text-success" id="modal-group-name"></span></p>
                        <p>Microservices included:<br/><span class="text-success" id="modal-group-list"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="modal-group-definition" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Microservices Group Definition <small id="title-group-definition"></small></h4>
                    </div>
                    <div class="modal-body">
                        <table id="table-group-definition" class="table table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Start at (sec)</th>
                                <th>Launching Order</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="createGroup()" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <footer class="footer">
            <div th:include="fragments/footer :: footer-bar" ></div>
        </footer>

    </div>
</div>


</body>

<script type="text/javascript" th:src="@{/v2/js/jquery-1.10.2.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-notify.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/paper-dashboard.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/demo.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/app/settings.js?v3.17}"></script>
<script type="text/javascript" th:src="@{/v2/js/app/loading.js?v3.7}"></script>

<script th:inline="javascript">
	    /*<![CDATA[*/
	    var settingsFolder = [[${settingsFolder}]]
		/*]]>*/
 </script>



</html>
